<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo" src="https://e7.pngegg.com/pngimages/314/999/png-clipart-optimus-prime-transformers-encapsulated-postscript-logo-transformers-cdr-angle-thumbnail.png" />
    <span>Welcome to Transformers Warzone!!</span>
    <div class="spacer"></div>

</div>

<div class="content background" role="main">
    <div class="content peaks">
        <span class="card highlight-card blackBtn" (click)="startBattle()">Click to start {{ title }}!!!</span>

        <span class="card highlight-card" [ngClass]="finalResult.winningTeam === 'A' ? 'abClass' : 'dcClass'">
        {{this.finalResult.winningTeam === "A" ? "Autobots ": "Decepticons "}} win the battle!!<br>
      </span>
        <span class="card highlight-card" [ngClass]="finalResult.winningTeam === 'A' ? 'abClass' : 'dcClass'">
        Battles:   {{this.finalResult.battles}} <br>
      </span>
        <span class="card highlight-card" [ngClass]="finalResult.winningTeam === 'A' ? 'abClass' : 'dcClass'">
        Winning Team:   {{this.finalResult.winningTeam}}<br>
        Winners :   {{this.finalResult.winners}}<br>
      </span>
        <span class="card highlight-card" [ngClass]="finalResult.winningTeam === 'A' ? 'abClass' : 'dcClass'">
        Survivor Team:   {{this.finalResult.survivorTeam}}<br>
        Survivors:   {{this.finalResult.survivors}}
      </span>
    </div>

</div>